<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <md-card class="example-card">
        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title>Surendar</md-card-title>
          <md-card-subtitle>js lover</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="http://bit.ly/2hvXsw4" alt="Photo of a Shiba Inu">
        <md-card-content>
          <p>
              "All of us do not have equal talent. But , all of us have an equal opportunity to develop our talents.” 
          <br>  - A.P.J Abdul Kalam 
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button><a href="http://infinijith.com/">Team Infinijith</a></button>
        </md-card-actions>
    </md-card>
</div>