<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <mad-card class="example-card">
        <mad-card-header>
          <div mad-card-avatar class="example-header-image"></div>
          <mad-card-title>Surendar</mad-card-title>
          <mad-card-subtitle>js lover</mad-card-subtitle>
        </mad-card-header>
        <img mad-card-image src="http://bit.ly/2hvXsw4" alt="Photo of a Shiba Inu">
        <mad-card-content>
          <p>
              "All of us do not have equal talent. But , all of us have an equal opportunity to develop our talents.” 
          <br>  - A.P.J Abdul Kalam 
          </p>
        </mad-card-content>
        <mad-card-actions>
          <button mad-button><a href="http://infinijith.com/">Team Infinijith</a></button>
        </mad-card-actions>
    </mad-card>
</div>